@media screen{
	html, body {
		height: 100%;
	}
	body {
		display: flex;
		flex-direction: column;
	}

	header {
		position: fixed;
		width: 100%;
		left: 0;
		right: 0;
		z-index: 10;
	}

	/*mobile menu*/
	#mobile-menu{
		position: absolute;
		top: 0;
		left: -350px;
		height: 100%;
		width: 100%;
		max-width: 350px;
		overflow: auto;
		z-index: 11;
	}

	main {
		flex: 1 0 auto;
		position: relative;
	}

	footer {
		flex-shrink: 0;
	}
}